{% extends 'base.html.twig' %}

{% block title %}Artisan.Autogestion{% endblock %}

{% block body %}
    <div class="box">
      <div class="ligne">
        <div class="elem-ligne">
          <p>Graph</p>
        </div>
        <div class="elem-ligne">
          <p>Sommes</p>
        </div>
        <div class="elem-ligne">
          <p>Calendrier</p>
        </div>
      </div>
    </div>
  
    <div class="box">
      <a href="/" class="sm-button">+devis/facture</a>
      <p>Tableau</p>
    </div>
  
    <div class="box">
      <a href="/" class="sm-button">+client</a>
      <p>Tableau</p>
    </div>
{% endblock %}
