{% extends 'base.html.twig' %}

{% block title %}Artisan.Autogestion{% endblock %}

{% block body %}
<div class="container">
  <h1>Artisan.Autogestion</h1>
    <div class="box">
      <h2>Aperçus</h2>
      <p>Les aperçus ici</p>
    </div>
  
    <div class="box">
      <h2>Devis et Factures</h2>
      <p>Tableau des devis et factures</p>
    </div>
  
    <div class="box">
      <h2>Clients</h2>
      <p>Tableau des clients</p>
    </div>
  </div>
{% endblock %}
