{% extends 'base.html.twig' %}

{% block title %}Artisan.Autogestion{% endblock %}

{% block body %}
    <div class="box">
      <a href="/" class="sm-button">Nouveau événement</a>
      <br>
    </div>
    <a href="/document" class="sm-button2">Devis et Factures</a>
    <a href="/client" class="sm-button2">Clients</a>
{% endblock %}
