.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value if needed */
  }
  
  .box {
    width: 100%;
    max-width: 400px; /* Adjust this value to control the maximum width of the boxes */
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    justify-content: center; 
  }