@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Belanocima';
  src: url('../fonts/Belanosima-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Caprasimo';
  src: url('../fonts/Caprasimo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-mono';
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;

  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-mono";
}



h1 {
  font-family: "Roboto-mono";
  /*color: rgb(235, 88, 88);*/
  font-size: 48px;
  /*text-shadow: -1px 1px 0 #000;*/
}

h3, h2 {
  margin: 20px;
}

.navbar {
  background-color: rgb(214, 184, 190);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(27, 27, 27);

}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;

}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #e9dcdc;
  border: 2px solid #000;
}

.button:hover{
  background: yellow;
  transition: all 0.3s ease;
  color: rgb(27, 27, 27);
}

.container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh; /* Adjust this value if needed */
  }
  
.box {
    width: 100%;
    max-width: 95vw; /* Adjust this value to control the maximum width of the boxes */
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    justify-content: center; 
  }

  .box a {
    color: rgb(27, 27, 27);
    text-decoration: none;
  }
  
  .box a:hover {
    background: yellow;
    text-decoration: none;
  }

  .ligne {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .login {
    padding: 20px;
    margin-top: 10vh;
    border: 2px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .form-control {
    width: 50%;
    box-sizing: border-box;
}

.sm-button {
  color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 30px;
  width: 15%;
  outline: none;
  background: #e9dcdc;
  border: 2px solid rgb(0, 0, 0);
}

.sm-button:hover{
  background: yellow;
  transition: all 0.3s ease;
  color: rgb(27, 27, 27);
}

.document-table {
  width: 100%;
  border-collapse: collapse;
}

.document-table th,
.document-table td {
  padding: 10px;
  text-align: left;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
}

.client-table th,
.client-table td {
  padding: 10px;
  text-align: left;
}

.client-table th:nth-child(1),
.client-table td:nth-child(1) {
  width: 17%;
}

.client-table th:nth-child(2),
.client-table td:nth-child(2) {
  width: 17%;
}


.client-table th:nth-child(3),
.client-table td:nth-child(3) {
  width: 17%;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  width: 200px;
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
}

.form-field {
  flex: 1;
}

.form-look {
  text-align: center;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  background-color: #e9dcdc;
  color: rgb(27, 27, 27);
  border: 2px solid rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: yellow;
}

.submit-button:focus {
  outline: none;
}