@font-face {
  font-family: 'Roboto-mono';
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  
  .navbar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    z-index: 1;
    width: 100%;
  }

  .navbar__menu {
    flex-direction: column;
  }

  .footer {
    background-color: #FCAEAE;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid #000;
    height: 100px;
  }
  
  .navbar__item {
    height: auto;
    margin-bottom: 10px;
  }
  
  .hidden-small {
    display: none;
  }

  .small-stack {
    margin-top: 20px;
  }

  .navbar {
    background-color: #FCAEAE;
    height: 220px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-size: 1.2rem;
    
    top: 0;
    z-index: 999;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
  }

  .box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    background-color: #FFEADD;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 10px;
    }

    .sm-button2 {
      color: rgb(27, 27, 27);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 10px 20px;
      width: 80%;
      max-width: 1000px;
      min-width: 150px;
      font-size: 2rem;
      margin: 20px;
      padding: 10px;
      outline: none;
      background: #FF8989;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 10px;
    }
    
    .form-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

}

@media (min-width: 768px) {

    .hidden-big {
      display: none;
    }

    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
    }

    .navbar {
      background-color: #FCAEAE;
      height: 80px;
      display: flex;
      justify-content: left;
      padding: 20px;
      align-items: center;
      font-size: 1.2rem;
      position: sticky;
      top: 0;
      z-index: 999;
      margin-bottom: 20px;
      border-bottom: 2px solid #000;
    }

    .footer {
      background-color: #FCAEAE;
      padding: 10px;
      margin-top: 20px;
      border-top: 2px solid #000;
      height: 80px;
    }

    .box2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      max-width: 95vw;
      background-color: #FFEADD;
      padding: 20px;
      margin-bottom: 20px;
      border: 2px solid #000;
      box-sizing: border-box;
      justify-content: center;
      border-radius: 10px;
      }

      .sm-button2 {
        color: rgb(27, 27, 27);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        width: 50%;
        max-width: 1000px;
        min-width: 150px;
        font-size: 2rem;
        margin: 20px;
        padding: 10px;
        outline: none;
        background: #FF8989;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
      }
      
      .form-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
      }

  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-mono";
}

body {
  background-color: #FFEADD;
}

h1 {
  font-family: "Roboto-mono";
  /*color: rgb(235, 88, 88);*/
  font-size: 48px;
  /*text-shadow: -1px 1px 0 #000;*/
}

h3, h2 {
  margin: 20px;
}

.hidden {
  display: none;
}


#navbar_title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(27, 27, 27);

}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;

}

.navbar__btn {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #FF8989;
  border: 2px solid #000;
  border-radius: 10px;
}

.button:hover{
  background: yellow;
  transition: all 0.3s ease;
  color: rgb(27, 27, 27);
}

.container {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  height: auto;
  min-height: 80vh;
  }
  
.box {
  width: 100%;
  max-width: 95vw;
  background-color: #FFEADD;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 10px;
  }

.box a {
  color: rgb(27, 27, 27);
  text-decoration: none;
  }
  
.box a:hover {
  background: yellow;
  text-decoration: none;
  }

.ligne {
  display: flex;
  width: 100%;
  height: 100%;
  }

.login {
  padding: 20px;
  margin-top: 10vh;
  border: 2px solid #000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  }

.form-control {
  width: 50%;
  box-sizing: border-box;
}

.sm-button {
  color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 20%;
  max-width: 300px;
  min-width: 150px;
  margin: 20px;
  padding: 10px;
  outline: none;
  background: #FF8989;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.sm-button3 {
  color: rgb(27, 27, 27);
  
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 20%;
  max-width: 300px;
  min-width: 150px;
  margin: 20px;
  padding: 10px;
  outline: none;
  background: #FF8989;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.sm-button:hover, .sm-button2:hover, .sm-button3:hover{
  background: yellow;
  transition: all 0.3s ease;
  color: rgb(27, 27, 27);
}

.document-table {
  width: 100%;
  border-collapse: collapse;
}

.document-table th,
.document-table td {
  padding: 10px;
  text-align: left;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
}

.client-table th,
.client-table td {
  padding: 10px;
  text-align: left;
}

.client-table th:nth-child(1),
.client-table td:nth-child(1) {
  width: 17%;
}

.client-table th:nth-child(2),
.client-table td:nth-child(2) {
  width: 17%;
}


.client-table th:nth-child(3),
.client-table td:nth-child(3) {
  width: 17%;
}

.designation-table {
  width: 50%;
}

.designation-table th,
.designation-table td {
  padding: 10px;
  text-align: left;
}

.form-label {
  width: 200px;
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
}

.form-field {
  flex: 1;
}

.form-look {
  text-align: center;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  background-color: #FF8989;
  color: rgb(27, 27, 27);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: yellow;
}

.submit-button:focus {
  outline: none;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 13%;
  margin: 20px;
}

.column span {
  margin-bottom: 10px;
}

.column strong {
  margin-bottom: 10px;
}

.card {
  background-color: #FCAEAE;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.arrow {
  font-weight: bold;
  font-size: 24px;
}

.client-card {
  color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #FCAEAE;
  border: 2px solid #000;
  border-radius: 10px;
}

.client-card:hover{
  background: yellow;
  transition: all 0.3s ease;
  color: rgb(27, 27, 27);
}