<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include '/inc/nav.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% include '/inc/foot.html.twig' %}
    </body>
</html>
