<nav class="navbar">
    <div class="navbar__container">
    {% if app.user %}
        <a href="{{ path('app_main') }}" id="navbar_title">{{app.user.nom}}</a>
    {% endif %}
        <ul class="navbar__menu">
            <li class="navbar__btn small-stack">
                <a href="{{ path('app_logout') }}" class="button">déconnexion</a>
            </li>
            <li class="navbar__btn small-stack">
                <a href="{{ path('app_parametres') }}" class="button">paramètres</a>
            </li>
        </ul>
    </div>
</nav>